body {
	background-color: #0c0c0c;
	color: #f5f1f0;
	font-family: 'Rubik';
	font-weight: 300;
	font-size: 1.2em;
}

header,main {
	margin: 1em 0;
}

main {
	padding-bottom: 2em;
}

h1,h2,h3 {
	font-family: 'PT Serif';
}

h1 {
	font-weight: 600;
font-size: 2.3em;
text-align: right;
}

h2 {
	font-weight: 500;
	font-size: 1.5em;
	padding-top: 1em;
}

h3 {

	color: #b2322d;
	text-transform: uppercase;
	font-size: 1.3em;
}

a {
	text-decoration: 1.5px underline #b2322d;
	color: #f5f1f0;
}

a:hover {
	color: #b2322d;
}

iframe {
padding-bottom: 1.5em;
}

#byline {
	font-size: 0.65em;
	text-transform: uppercase;
	padding-top: 0.5em;
	text-align: right;
}

#help {
	padding: 2em;
	background-color: #f5f1f0;
	color:#0c0c0c;
}

.help {
	text-decoration: 1.5px underline #b2322d;
	color: #0c0c0c;
}

footer {
	font-size: 12px;
	padding: 3em;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 480px) {
	h1{
		font-size: 2em;
	}
	h2 {
		text-align: center;
		font-size: 1.2em;
	}
	h3{
		font-size: 1em;
	}
}