body {
	background-color: #272222;
	color: #f5f1f0;
}

header,main {
	margin: 1em 0;
}

.nav-link {
	font-size: 1em;
	display: inline;
	padding: 0 1em 0 0;
}

main {
	font-family: 'Rubik';
	font-size: 1.1em;
}

.b {
	font-weight: 500;
}

h1,h2 {
	font-family: 'PT Serif';
	padding: 0 0 1em 0;
}

h1 {font-weight: 600;
font-size: 3.5em;
}

.underline,
a[href^="https"] {
  text-decoration: underline !important;
  text-decoration-color: #e0510e;
  text-decoration-thickness: 3px;
  color: #f5f1f0;
}



.link {
	text-decoration: 3px underline #e0510e;
	color: #f5f1f0;
}

.card-subtitle {
	color: #272222
}

section {
	margin: 2em 1em 1em 1em;
}

.card {
	background-color: #f5f1f0;
	color: #e0510e;
	margin: 1em 0;
}

.quote {
	font-size: 1.1em;
	font-style: italic;
text-decoration: 1px underline #e0510e !important;
}