h1 {
	font-family: 'Climate Crisis', cursive;
	color: #241802;
}
.row,
.col-md-3,
.col-md-8 {
	padding: 1em;
}
body {
	background-color: rgb(235, 219, 199);
	font-family: 'Rubik';
}
#intro {
	font-size: 1.1em;
	font-weight: 600;
	background-color: #C29663;
	color: #241802;
}
footer {
	background-color: #C29663;
	padding: 0.5em;
	font-weight: 500;
	color: #241802;
}