  h1 {
	font-family: Georgia, serif;
	color:  #1f3164;
  }
  h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
  }
 footer {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 0.6em;
	background-color:  #f3f3f3;
	padding: 0.5em;
 }
#intro {
	font-weight: 600;
 }
 body {
	font-family: Arial, sans-serif;
	font-size: 18px;
 }
 h2 {
	padding-top: 1em;
	padding-left: 0.5em;
	}